@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #4285f4;
    --secondary: #34a853;
    --teritory: #fbbc05;
    --typo: #ea4335;
  }
  /* @import url("themes/theme1.css");
    @import url("themes/theme2.css");
    @import url("themes/theme3.css"); */
}
